<br> <br> <br> <br>






<div id="tables" class="element_single">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card single-block">
      <div class="card-header" role="tab" id="headingOne">            
        <div class="display-single_element">
          <h3 style="margin: 30px 0">Your Wallets</h3>
            <%= link_to "Add Wallet", "/wallets/new", class: "btn btn-primary"  %>
            

            <table class="table table-inverse">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Wallet Address</th>
                    <th>Balance</th>
                    <th>Position Value</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @wallets.each do |wallet| %>
                      

                      <tr onclick="toggleWallet('wallet_'+<%= wallet.id %>)">
                        <th scope="row"><%=  %></th>
                        <td><div class="wallets" id="wallet_<%= wallet.id %>"><%= wallet.address %></div></td>
                        <td><div id="wallet_<%= wallet.id %>_eth"></div></td>
                        <td>Coin's position value</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                            <%= link_to "delete", "/wallets/#{ wallet.id }", method: :delete, class: "btn btn-primary btn-rounded" %></td> 
                            </div>
                      </tr>




                          <% @coins.each do |coin| %>
                            <tr class="hiding wallet_<%= wallet.id %>_zero wallet_<%= wallet.id %>_<%= coin.ticker %>_new">
                              <th scope="row"><%=  %></th>
                              <td></td>
                              <td><div class="wallet_<%= wallet.id %>_zerobalance" id="wallet_<%= wallet.id %>_<%= coin.ticker %>" ></div></td>
                              <td></td>
                            </tr>
                          <% end %>

                  <% end %>
                </tbody>
              </table>
        </div>
      </div> <!-- element-content ends -->
    </div>
  </div> <!-- element main container ends -->
</div> <!-- Grid wrapper ends -->




<script>getBalance()</script>
<script>getTokenBalance()</script>
<script>removeZeroBalance()</script>



  