<br> <br> <br> <br>


<div id="app">

<div id="tables" class="element_single">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card single-block">
      <div class="card-header" role="tab" id="headingOne">            
        <div class="display-single_element">
          <h3 style="margin: 30px 0">Your Wallets</h3>
            <%= link_to "Add Wallet", "/wallets/new", class: "btn btn-primary"  %>
            
            <table class="table table-inverse">
                <thead>
                  <tr>
                    <th>Wallet Address</th>
                    <th>Balance</th>
                    <th>Position Value</th>
                    <th>Edit/Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% @wallets.each_with_index do |wallet, i| %>
                      <tr v-on:click="toggleBalances(<%= i %>)">
                        <td><div class="address" ><%= wallet.address %></div></td>
                        <td v-text="ethers[<%= i %>]"></td>
                        <td>Coin's position value</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                            <%= link_to "delete", "/wallets/#{ wallet.id }", method: :delete, class: "btn btn-primary btn-rounded" %></td> 
                            </div>
                      </tr>
                    <% @coins.each_with_index do |coin, j| %>
                      <tr v-if="seen['<%= i %><%= coin.ticker %>']" >
                        <td></td>
                        <td  v-text="cointotal['<%= i %><%= coin.ticker %>']" ></td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
        </div>
      </div> <!-- element-content ends -->
    </div>
  </div> <!-- element main container ends -->
</div> <!-- Grid wrapper ends -->

</div>




  