<br><br><br><br>

<table class="table  container">
  <thead>
    <tr>
      <th>Coin</th>
      <th>Current Price</th>
      <th>Ratio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ETH</td>
      <td><%= @eth %></td>
      <td><%=  %></td>

    </tr>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.ticker %></td>
        <% if coin.ticker == 'XMR' %>
          <td><%=  number_to_currency (@xmr * @btc) %></td>
          <td><%=   %></td>
        <% elsif coin.ticker == 'ZEC' %>
          <td><%=  number_to_currency (@zec * @btc) %></td>
          <td><%=   %></td>
        <% else %>
          <td><%=  number_to_currency (coin.current_price * @eth) %></td>
          <td><%= coin.current_price.round(5) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

