<%= form_tag "/trades/#{@trade.id}", method: :patch do %>
  
  <div>
    Ticker: 
    <select name="coin_id" class="form-field-dark">
      <% @coins.each do |coin| %>
        <option value="<%= coin.id %>" ><%= coin.ticker %></option>
      <% end %>
    </select>
  </div>

  <div>
    Price: <input type="text" name="execution_price" placeholder="<%= @trade.execution_price %>">
  </div>

 <div>
    <input id="trade_buy" name="direction" type="radio" value="buy" />
    <label for="trade_buy">Buy</label>
    <input id="trade_sell" name="direction" type="radio" value="sell" />
    <label for="trade_sell">Sell</label>
  </div>

  <div>
    Quantity: <input type="text" name="quantity" placeholder="<%= @trade.quantity %>">
  </div>

  <div>
    Date: <input type="text" name="timestamp" placeholder="<%= @trade.timestamp %>">
  </div>
 
  <input type="submit" value="Update trade" >





<% end %>

