<%= form_tag "/trades/#{@trade.id}", method: :patch do %>
  <div>
    Ticker: 
    <select name="coin_id" class="form-field-dark">
      <% @coins.each do |coin| %>
        <option value="<%= coin.id %>" ><%= coin.ticker %></option>
      <% end %>
    </select>
  </div>
  <div>
    Price: <input type="text" name="execution_price" placeholder="<%= @trade.execution_price %>">
  </div><div>
    Direction: <input type="text" name="direction" placeholder="<%= @trade.direction %>">
  </div><div>
    Quantity: <input type="text" name="quantity" placeholder="<%= @trade.quantity %>">
  </div><div>
    Date: <input type="text" name="date" placeholder="<%= @trade.timestamp %>">
  </div>
 


  <input type="submit" value="Update trade" >





<% end %>

