<h1>Trade History</h1>

<h2>Current Position:</h2>
<% @coins.each do |coin| %>
  <% if current_user.trades.any? { |trade| trade.coin_id == coin.id } %>
      <h3><%= coin.ticker %> Position: <%= current_user.calculate_quantity(coin.id) %> </h3>
      <h3>Price: <%= coin.coin_price %> </h3>
      <h3>Position value: <%= number_to_currency(current_user.calculate_quantity(coin.id) * coin.coin_price) %> </h3>
      <h3>24h change: </h3>
      <br>
  <% end %>
<% end %>

<h2>Individual Trades</h2>
<% @trades.each do |trade| %>

<h3>Name: <a href="/trades/<%= trade.id %>"><%= trade.coin.ticker  %></a></h3>
<h3>Execution Price: <%= trade.execution_price %></h3>
<h3>Direction: <%= trade.direction %></h3>
<h3>Quantity: <%= trade.quantity %></h3>
<h3>Date Executed: <%= trade.timestamp %></h3>
<br>


<% if current_user %>
  <%= link_to "edit", "/trades/#{ trade.id }/edit", class: "btn btn-danger" %>
<% end %>

<% if current_user %>
  <%= link_to "delete", "/trades/#{ trade.id }", method: :delete, class: "btn btn-danger" %>
<% end %>

<% end %>



