<br>
<br>
<br>
<br>
<h1 class="container col-md-10" >New Trade</h1>
<br>
<% if @errors %>
  <div id="error_explanation">
    <h2><%= pluralize(@trade.errors.count, "Error") %> prohibited this trade from being entered</h2>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<br>
<%= form_tag "/trades", method: :post do %>

  <div class="display-single_element text_input container">
    <form >
      <div class="form-group row">
        <label for="example-text-input" class="col-md-2 col-form-label">Ticker</label>
        <div class="dropdown btn-group"> 
          <select name="coin_id" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @coins.each do |coin| %>
                <option value="<%= coin.id %>" class="dropdown-menu dropdown-item" ><%= coin.ticker %></option>
              <% end %>
            </div>
          </select>
        </div>
      </div> 

      <div class="form-group row">
        <label for="example-text-input" class="col-md-2 col-form-label">Direction</label>
          <div>
            <input class="radio-custom form-check-input" id="trade_buy" name="direction" type="radio" value="buy" />
            <label class="radio-custom-label form-check-label" for="trade_buy">Buy</label>
            <input class="radio-custom form-check-input" id="trade_sell" name="direction" type="radio" value="sell" />
            <label class="radio-custom-label form-check-label" for="trade_sell">Sell</label>
          </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-md-2 col-form-label">Execution Price</label>
        <div class="col-md-2">
          <input class="form-control" type="text" name="execution_price">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-md-2 col-form-label">Quantity</label>
        <div class="col-md-2">
          <input class="form-control" type="text" name="quantity">
        </div>
      </div>

      <input class="btn btn-primary marginslol" type="submit" value="Enter Trade">
    </form>
  </div>

  <% end %>
  <br>
  <br>
  <br>
  <br>
  

