<h3>Name: <%= @trade.coin.ticker  %></h3>
<h3>Execution Price: <%= @trade.execution_price %></h3>
<h3>Direction <%= @trade.direction %></h3>
<h3>Quantity: <%= @trade.quantity %></h3>
<h3>Date Executed: <%= @trade.timestamp %></h3>
<br>



<% if current_user %>
  <%= link_to "edit", "/trades/#{ @trade.id }/edit", class: "btn btn-danger" %>
<% end %>
<% if current_user %>
  <%= link_to "delete", "/trades/#{ @trade.id }", method: :delete, class: "btn btn-danger" %>
<% end %>