

<body id="body" class="page-projects boxed-menu">
  <div class="mobile-sticky-header-overlay"></div>


<section class="home-blog">
  <div class="container ">
    <!-- section title -->
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div class="sectionTitle text-center">
          <h2>Coin Prices</h2>
          <p>Eth and Token Prices</p>
        </div>
      </div>
    </div>
    <!-- section title ends -->

    <% @coins.each_slice(3) do |coin_slice| %>
      <div class="row">
        <% coin_slice.each do |coin| %> 
          <div class="col-md-4">
            <div class="card card-style3">
              <div class="card_img rocinag">
                <a href="#"><img class="img-full" data-original="img/logos/<%= coin.id %>.png" alt="Card image"></a> 
              </div>
              <div class="card-block ">
                <ul class="list-inline ctnr-border">
                  <li>
                    <a href="https://bittrex.com/Market/Index?MarketName=ETH-<%= coin.ticker %>"><i  aria-hidden="true"></i> <span class="text-primary"><%= coin.name %></span></a>
                  </li>
                  <li>
                    <a href="#"><i  aria-hidden="true"></i> MktCap: <%= number_to_currency(coin.marketcap) %></a>
                  </li>
                  
                  <li class="card-title">Price: <%= number_to_currency coin.current_price %></li>
                </ul>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

















