<h4>Coin: <%= @coin.ticker %></h2>
<h4>Marketcap: <%= @coin.marketcap %></h2>
<h4>Current Price: <%= @coin.current_price %></h2>
<h4>Change: <%= @coin.change %></h2>
<h4>Timestamp: <%= @coin.timestamp %></h2>
